@import url('https://fonts.googleapis.com/css2?family=Montserrat');
:root {
  	--lightpurple: #584895;
  	--lightblue: #00adee;
  	--darkgrey: #0D0D0D;
  	--lightgrey: #171717;
	--text: #f0f0f0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	position: absolute;
	width: 100%;
}

body {
	background-color: var(--lightgrey);
	min-height: 100vh;
	color: var(--text);
	font-size: 20px;
	font-family: montserrat;
	font-weight: regular;
}

/*===========================================Navigation==============================================*/

#Navigation a {
	text-decoration: none;
	color: var(--text);
}

#Navigation li{
	list-style: none;
}

#Navigation {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: 200px;
	padding-right: 200px;
	align-items: center;
	padding-top: 20px;
}

#Navigation img {
	height: 100px;
}

#Navigation-Links {
	display: flex;
	align-items: center;
}

#Navigation-Links li {
	padding-left: 40px;
}

#Navigation-Socials{
	align-items: center;
	display: flex;
}

.Social-Text {
	padding-right: 15px;
	padding-left: 40px;
}

.svg_icon {
	padding-top: 2px;
	transform: scale(2.5);
}

/*========================================Hero Section ======================================*/

#Hero-Section {
	height: 80vh;
	position: relative;;
}

#Hero-Section #Background-Animation {
	top: 100vh - 800px;
}

#Hero-Section #Background-Animation svg {
	height: 40vw;
	position: absolute;
	bottom: 0;
	right: 150px;
}

#Hero-Section #Info {
	padding-left: 250px;
	padding-top: 25vh;
	margin-right: auto;
	font-family: Raleway, sans-serif;
}

#Hero-Section #Info #Welcome {
	font-weight: bold;
	font-size: 40px;
	padding-bottom: 40px;
} 

#Hero-Section #Info #Name {
	font-weight: bold;
	font-size: 80px;
} 

#Hero-Section #Info #Dev {
	font-weight: bolder;
	font-size: 25px;
	color: #929292;
	margin-top: -10px;
	margin-left: 5px;
}

/*======================================== Project Section ======================================*/

#ProjectsSection {
	background-color: var(--darkgrey);
	height: auto;
}

#Cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.Card {
	overflow: hidden;
	z-index: 1;
	padding: 10px 5px;
}

.Card_Body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30vw;
	height: 35vh;
	z-index: 1;
}

.Card_Type {
	padding-top: 20px;
	font-family: Montserrat;
	font-weight: normal;
	font-size: 22px;
	z-index: 1;
}

.Card_Type::after {
	content: "";
	margin-top: 3px;
	float: left;
	background: linear-gradient(to right, var(--lightblue), var(--lightpurple));
	width: 100%;
	height: 5px;
	border-radius: 5px;
	z-index: 1;
}

.Card_Description {
	text-align: center;
	padding-top: 25px;
	word-wrap: break-word;
	width: 75%;
	z-index: 1;
}

.Card_Btn {
	position: absolute;
	bottom: 40px;
	left: 40%;
	display: inline-block;
	padding: 2px;
	background: linear-gradient(to right, var(--lightblue), var(--lightpurple));
	border-radius: 20px;
	cursor: pointer;
	z-index: 1;
}

.Card_Btn > span {
	display: inline-block;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	border-radius: 18px;
	z-index: 1;
}

.Card_Image {
	position: absolute;
	width: 100%;
	z-index: 0;
}

#Project_Footer {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

/*======================================== Technologies Section ======================================*/

#TechnologiesSection {
	position: relative;
	height: auto;
}

#TechnologiesSection .TechName{
	font-family: Montserrat;
	font-size: 24px;
}

.TechSection_Header {
	font-family: Montserrat;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	padding-top: 35px;
	opacity: 60%;
}

.TechSection{
	padding-bottom: 60px;
}

.TechCards {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.TechCard {
	text-align: center;
	padding-right: 60px;
	padding-left: 60px;
}

.TechCard svg {
	margin-bottom: 15px;
}

.TechCard img {
	margin-bottom: 15px;
}

/*======================================== Technologies Section ======================================*/

#AboutSection {
	background-color: var(--darkgrey);
	height: auto;
}

#AboutParagraph {
	padding-top: 20px;
	width: 55%;
	margin: auto;
	text-align: center;
}

/*======================================== General Classes ======================================*/

.Text-Gradient {
	background: linear-gradient(to right, var(--lightblue), var(--lightpurple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.Section_Heading {
	padding-bottom: 50px;
	padding-left: 125px;
	padding-top: 50px;
	display: inline-block;
	font-size: 40px;
	line-height: 128%;
	letter-spacing: 0.22em;
}

.Section_Heading::before {
	content: "";
	margin-bottom: 15px;
	float: left;
	background: linear-gradient(to right, var(--lightblue), var(--lightpurple));
	width: 35%;
	height: 8px;
	border-radius: 5px;
	z-index: 1;
}

.GradientUnderline{
	margin-top: 40px;
	display: block;
	margin-left:auto;
	margin-right:auto;
}