@import url('https://fonts.googleapis.com/css2?family=Montserrat');
:root {
  --lightpurple: #584895;
  --lightblue: #00adee;
  --darkgrey: #1a1a1a;
  --lightgrey: #363636;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

body {
  background-color: var(--darkgrey);
  min-height: 100vh;
  color: white;
  font-family: montserrat;
  font-weight: regular;
}